In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [8]:
users = pd.read_fwf('u.user.txt')

In [9]:
users.head()

  user_id|age|gender|occupation|zip_code
0                1|24|M|technician|85711
1                     2|53|F|other|94043
2                    3|23|M|writer|32067
3                4|24|M|technician|43537
4                     5|33|F|other|15213

In [14]:
users.describe()

       user_id|age|gender|occupation|zip_code
count                                     943
unique                                    943
top                   1|24|M|technician|85711
freq                                        1

In [23]:
users.dtypes

user_id|age|gender|occupation|zip_code    object
dtype: object