In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [9]:
ser1 = pd.Series(np.random.randint(1, 4))

In [10]:
ser2 = pd.Series(np.random.randint(1, 3))

In [11]:
ser3 = pd.Series(np.random.randint(10000, 30000))

In [12]:
df = pd.concat([ser1, ser2, ser3], axis = 1)

In [16]:
df.reset_index()

   index  0  1      2
0      0  2  1  21831